<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

  <body>
    <% include partials/header.ejs %>
    <div class="container">

      <div id="heading">
	<h1 class="text-center">
	  Welcome to Openboxd!
	</h1>
      </div>

      <div id="sectionLabel">
	ABOUT OPENBOXD
	<hr>
      </div>

      <div class="container-about">
	<p>
	  Openboxd is an open source alternative to <a href="https://www.letterboxd.com">Letterboxd</a>, a social network for film lovers.
	</p>

	<p>
	  Openboxd allows users to track, log, and write reviews related to films they've seen. When searching for a film users can mark a film as watched  <i class="text-info fa fa-eye"></i>, and also favorite films they really enjoyed with a <i class="text-danger fa fa-heart"></i>.
	</p>

	<p>
	  In conjuction, this allows users to socialize and share their thoughts on films and other forms of entertainment.
	</p>

      </div>
    </div>

  </body>
  <% include partials/footer.ejs %>
</html>
